@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .wrapper-pj__detail {
      padding-top: 4.25rem;
      border-top: 1px solid #CCCCCC;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    margin-bottom: 6.75rem;
  }

  .carousel .carousel-img {
      width: 100%;
      height: 100%;
  }
  .carousel .carousel-img img {
      width: 100%;
      height: 100%;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  
  /* .carousel__slide:nth-child(even) {
    background-color: #99f;
  } */
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    /* right: 0; */
    bottom: -15px;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  .carousel__navigation-list .carousel__navigation-item {
      padding-right: 4px;
  }
  .carousel__navigation-list .carousel__navigation-item:not(:last-child) {
      /* width: 22px; */
      height: 22px;
        border-right: 1px solid #CCCCCC;
  }
  .carousel__navigation-list .carousel__navigation-item a {
    width: 20px;
    height: 20px;
  }
  .carousel__navigation-list .carousel__navigation-item:hover a {
      background-color: #ed145b;
  }

  .carousel__navigation-list .carousel__navigation-item:hover a span {
        color: #ffffff;
        text-decoration: underline;
    }

  .carousel__navigation-list .carousel__navigation-item a span {
      color: rgb(131, 131, 131)
  }
  
  .carousel__navigation-button {
    display: inline-block;
    /* background-color: #333; */
    background-clip: content-box;
    /* border: 0.25rem solid transparent; */
    font-size: 12px;
    transition: transform 0.1s;
    
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }

@media (min-width: 680px) {
    .carousel{
        height: 500px;
    }
}

.wrapper-detail {
    min-height: 165px;
    position: relative;
}
.wrapper-detail h3 {
    font-weight: bold;
    color: #464646;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
}
.wrapper-detail .pj-position {
    font-size: 12px;
    line-height: 1.6em;
    color: #464646;
    margin-top: 2px;
    margin-bottom: 25px;
}
.wrapper-detail .architect-desc {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 20px;
}
.wrapper-detail .view-text-wrapper {
    margin-left: 15px;
}
.wrapper-detail .view-text-wrapper .hr-style {
    border-top: 2px solid #ed145b;
    padding-bottom: 20px;
}
.wrapper-detail .view-text-wrapper .hr-style-o {
  border-top : 1px solid #888888;
}
.wrapper-detail .view-text-wrapper .text {
    color: #888888;
}